<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Películas</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
</head>
<body>
	<div th:replace="fragments/navbar.html :: navbar_fragment"></div>
	<div class="container">
		<h1>Películas</h1>
		<div th:each="film : ${listOfFilms}" class="card" style="width: 18rem; display:inline-block;margin-top: 15px">
			<img th:if="${film.cover != null}" th:src="@{'/uploads/' + ${film.cover}}" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title" th:text="${film.title}">--</h5>
				<p class="card-text" th:text="${film.firstRelease}">--</p>
				<a th:href="@{'/film/update/' + ${film.id}}" class="btn btn-primary">Editar</a>
				<a th:href="@{'/film/delete/' + ${film.id}}" class="btn btn-danger">Eliminar</a>
			</div>
		</div>

	</div>
</body>
</html>