<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Generos</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
</head>
<body>
	<div th:replace="fragments/navbar.html :: navbar_fragment"></div>
	<div class="container">
		<h1>Géneros</h1>
		<form th:action="@{/film/genre/save}" method="post" class="form-group">
			<label for="name">Nombre</label> 
			<input type="text" class="form-control" name="name"> 
			<input type="submit" class="btn btn-primary" style="margin-top: 20px" value="Guardar">
		</form>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Título</th>
					<th scope="col">Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="genre : ${listOfGenres}">
					<td th:text="${genre.id}">--</td>
					<td th:text="${genre.name}">--</td>
					<td>
						<a th:href="@{'/film/genre/delete/' + ${genre.id}}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>